[flake8]
max-line-length = 103
exclude = 
    .bzr,
    .direnv,
    .eggs,
    .git,
    .hg,
    .mypy_cache,
    .nox,
    .pants.d,
    .ruff_cache,
    .svn,
    .tox,
    .venv,
    __pypackages__,
    _build,
    build,
    dist,
    node_modules,
    venv,
    migrations,
    
extend-ignore =
    WPS41,
    WPS201,
    WPS202,
    WPS204,
    WPS210,
    WPS213,
    WPS214,
    WPS221,
    WPS226,
    WPS237,
    WPS338,
    WPS404,
    WPS407,
    WPS420,
    WPS421,
    WPS432,
    WPS604,